In [1]:
import pandas as pd

In [2]:
text = pd.read_csv('../Raw_Data/Hydrated/cleaned_geo_text.csv', index_col=0, dtype={"id": object})

/Users/Jillian_Gonder/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
p_text = pd.read_csv("../Raw_Data/Hydrated/cleaned_geo_with_processed_text.csv", index_col=0, dtype={"id": object})

In [4]:
tones = pd.read_csv("../Tone_Analyzer/Data/combined_data.csv")

In [5]:
text.head()

,latitude,longitude,hashtags,place,id,text
0,40.714200,-74.006400,follow alone apocalypse corona covid nyc manha...,"Manhattan, NY",1248467312014798848,"At night these days in Manhattan, one can sit ..."
1,-1.283333,36.816667,thenewtoronto3,"Nairobi, Kenya",1248531648351801345,If you donâ€™t want catch bodies just like Coro...
2,31.000000,35.000000,CovidIsrael,Israel,1248549294723997696,"ðŸ‡®ðŸ‡± Israel\n\nðŸ”®: 10ðŸ“† 183ðŸ’€\nðŸ”®: 68ðŸ“† 31,267ðŸ¤§ 438ðŸ’€\..."
5,56.263900,9.501800,CovidDenmark,"Silkeborg, Danmark",1248511969298087936,"ðŸ‡©ðŸ‡° Denmark\n\nðŸ”®: 10ðŸ“† 518ðŸ’€\nðŸ”®: 440ðŸ“† 545,427ðŸ¤§ 7,..."
6,5.121300,-1.271400,JAY9ICEGH,"Cape Coast, Ghana",1248474767679574016,Is a new day. Good morning ghana\nStay home st...

In [6]:
p_text = p_text.rename(columns={"id": "id",
                                "text": "processed_text",
                                "coordinates": "coordinates"
                                                })
p_text

,id,processed_text,coordinates
0,1248467312014798848,"night day manhattan, sit middle intersection i...","-74.0064,40.7142"
1,1248531648351801345,donÃ¢Â€Â™t want catch body just like corona virus...,"36.81666667,-1.28333333"
2,1248549294723997696,Ã°ÂŸÂ‡Â®Ã°ÂŸÂ‡Â± israel Ã°ÂŸÂ”Â®: 10Ã°ÂŸÂ“Â† 183Ã°ÂŸÂ’Â€ Ã°ÂŸÂ”Â®: 68Ã°...,"35,31"
3,1248534172324560896,corona awoof sale tokunbo 2003 camry price. 90...,"3.36494044,6.57778852"
5,1248511969298087936,Ã°ÂŸÂ‡Â©Ã°ÂŸÂ‡Â° denmark Ã°ÂŸÂ”Â®: 10Ã°ÂŸÂ“Â† 518Ã°ÂŸÂ’Â€ Ã°ÂŸÂ”Â®: 44...,"9.5018,56.2639"
...,...,...,...
252713,1303893712053956609,social distancing day 175. clock ww1 ambulance...,"-86.0113,40.0456"
252714,1303897186875432960,"clear, categorize, criteria, choose, contain a...","-117.868184,33.601926"
252715,1303900147097759747,"USER ,the magazine read &amp; subscribe to. re...","77.20609412,28.51820604"
252716,1303906163306749952,think guys? corona gdp growth rate reducing ra...,"77.219672,28.631747"
252717,1303894056540549120,#repost USER Ã£ÂƒÂ»Ã£ÂƒÂ»Ã£ÂƒÂ» coming quarantine Ã°ÂŸÂ§ÂŸÃ¢...,"-75.5751,6.2359"

In [7]:
merge_df = pd.merge(text, p_text, on="id")
merge_df = merge_df.drop(columns=['coordinates'])
merge_df

,latitude,longitude,hashtags,place,id,text,processed_text
0,40.714200,-74.006400,follow alone apocalypse corona covid nyc manha...,"Manhattan, NY",1248467312014798848,"At night these days in Manhattan, one can sit ...","night day manhattan, sit middle intersection i..."
1,-1.283333,36.816667,thenewtoronto3,"Nairobi, Kenya",1248531648351801345,If you donâ€™t want catch bodies just like Coro...,donÃ¢Â€Â™t want catch body just like corona virus...
2,31.000000,35.000000,CovidIsrael,Israel,1248549294723997696,"ðŸ‡®ðŸ‡± Israel\n\nðŸ”®: 10ðŸ“† 183ðŸ’€\nðŸ”®: 68ðŸ“† 31,267ðŸ¤§ 438ðŸ’€\...",Ã°ÂŸÂ‡Â®Ã°ÂŸÂ‡Â± israel Ã°ÂŸÂ”Â®: 10Ã°ÂŸÂ“Â† 183Ã°ÂŸÂ’Â€ Ã°ÂŸÂ”Â®: 68Ã°...
3,56.263900,9.501800,CovidDenmark,"Silkeborg, Danmark",1248511969298087936,"ðŸ‡©ðŸ‡° Denmark\n\nðŸ”®: 10ðŸ“† 518ðŸ’€\nðŸ”®: 440ðŸ“† 545,427ðŸ¤§ 7,...",Ã°ÂŸÂ‡Â©Ã°ÂŸÂ‡Â° denmark Ã°ÂŸÂ”Â®: 10Ã°ÂŸÂ“Â† 518Ã°ÂŸÂ’Â€ Ã°ÂŸÂ”Â®: 44...
4,5.121300,-1.271400,JAY9ICEGH,"Cape Coast, Ghana",1248474767679574016,Is a new day. Good morning ghana\nStay home st...,new day. good morning ghana stay home stay saf...
...,...,...,...,...,...,...,...
139436,-37.815600,144.966100,melbourne melbournemusic covid19 lockdown stay...,"Melbourne, Victoria",1303910614457372675,"What lockdown? ðŸ§”keep smiling guys, we can do t...","lockdown? Ã°ÂŸÂ§Â”keep smiling guys, this. #melbou..."
139437,-38.157299,145.169688,wearamask bumface crackhead,"Melbourne, Victoria",1303893314278748160,I had an idea for a mask with a bum on it........,idea mask bum it..... bum face.... haha #weara...
139438,28.518206,77.206094,escape travel luxury life,"New Delhi, India",1303900147097759747,"@cntraveller ,the only magazine that I still r...","USER ,the magazine read &amp; subscribe to. re..."
139439,28.631747,77.219672,finance metal compressedair aircompressor mone...,"New Delhi, India",1303906163306749952,What do you think guys?\n\n Before corona also...,think guys? corona gdp growth rate reducing ra...
139440,6.235900,-75.575100,Repost quarantine covid19 d3mstreet michealjac...,"MedellÃ­n, Colombia",1303894056540549120,#Repost @d3mstreet\nãƒ»ãƒ»ãƒ»\nHow we coming out of ...,#repost USER Ã£ÂƒÂ»Ã£ÂƒÂ»Ã£ÂƒÂ» coming quarantine Ã°ÂŸÂ§ÂŸÃ¢...

In [8]:
tones = tones.rename(columns={"date": "date",
                                "text": "processed_text",
                                "tone": "tone",
                                "score": "score"
                                                })
tones

,date,processed_text,tone,score
0,4/16/2020,lagunita court center hilltop bench estate gar...,Joy,0.775857
1,4/16/2020,stay safe feel free .:. Ã¢Â€Â¢ Ã¢Â€Â¢ Ã¢Â€Â¢ Ã¢Â€Â¢ Ã¢Â€Â¢ #q...,Joy,0.795705
2,4/16/2020,Ã°ÂŸÂ‡Â¹Ã°ÂŸÂ‡Â­ thailand 10 day forecast 52 dead. wav...,Sadness,0.756774
3,4/16/2020,"Ã°ÂŸÂ‡ÂºÃ°ÂŸÂ‡Â¸ 10 day forecast 50,825 dead. wave ~14...",Sadness,0.786832
4,4/16/2020,hereÃ¢Â€Â™s oldie goodie. pre-corona era... looki...,Joy,0.621997
...,...,...,...,...
7199,11/3/2020,kr nroom Ã¢Â€Â” patriot express start covid-19 ch...,Analytical,0.675250
7200,11/3/2020,"loma linda university health hiring #murrieta,...",Analytical,0.587989
7201,11/3/2020,covid #ikebana early november garden. leggy mi...,Joy,0.858416
7202,11/3/2020,pint panic-buys: people enjoy meet-up lockdown...,Fear,0.521874
7203,11/3/2020,training session lovely bunch lockdown begin d...,Joy,0.794956

In [13]:
geo_tones = pd.merge(tones, merge_df, on="processed_text")
geo_tones = geo_tones.drop(columns=['text'])
geo_tones

,date,processed_text,tone,score,latitude,longitude,hashtags,place,id
0,4/16/2020,lagunita court center hilltop bench estate gar...,Joy,0.775857,33.595520,-117.869960,grave Hope Love Lord prayers God blessed Trust...,"Newport Beach, CA",1250576779070201857
1,4/16/2020,lagunita court center hilltop bench estate gar...,Joy,0.775857,33.595520,-117.869960,grave Hope Love Lord prayers God blessed Trust...,"Newport Beach, CA",1245371417237037058
2,4/16/2020,lagunita court center hilltop bench estate gar...,Joy,0.775857,33.595520,-117.869960,grave Hope Love Lord prayers God blessed Trust...,"Newport Beach, CA",1245955554008346624
3,4/16/2020,lagunita court center hilltop bench estate gar...,Joy,0.775857,33.595520,-117.869960,grave Hope Love Lord prayers God blessed Trust...,"Newport Beach, CA",1247328888562290688
4,4/16/2020,lagunita court center hilltop bench estate gar...,Joy,0.775857,33.595520,-117.869960,grave Hope Love Lord prayers God blessed Trust...,"Newport Beach, CA",1247652722016497665
...,...,...,...,...,...,...,...,...,...
7442,11/3/2020,"beautiful closing buyer 301 east 22nd street, ...",Joy,0.649021,40.734602,-73.983487,pandemic dreamteam closingday justsold realest...,"Manhattan, NY",1323771943737319426
7443,11/3/2020,american. hope voted. did. did sticker again. ...,Tentative,0.936899,41.603960,-73.810970,democracy electionday stayhomestaysafe,"East Fishkill, NY",1323763721764745220
7444,11/3/2020,"loma linda university health hiring #murrieta,...",Analytical,0.587989,33.553914,-117.213923,Murrieta SocialSciences,"Murrieta, CA",1323766927295066112
7445,11/3/2020,covid #ikebana early november garden. leggy mi...,Joy,0.858416,36.055160,-86.848360,ikebana forsythia helabore,"Forest Hills, TN",1323757205812842496
7446,11/3/2020,training session lovely bunch lockdown begin d...,Joy,0.794956,53.394117,-2.949734,northwestfootball lockdown liverpool,"Liverpool, England",1323770093646548992

In [14]:
geo_tones.to_csv("../Raw_Data/Hydrated/geo_tones.csv")